@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

/*COLORI DELLA PAGINA: 
- #ffc017 --> giallo
- #191919 --> nero 
- #1a8917 --> verde
- #dcdcdc --> grigio chiaro

- font-family: 'Spectral', serif;
font-family: 'Roboto', sans-serif;
*/

/*Tutta parte gialla*/
* html, body{
    box-sizing: border-box;
}

nav {
    /* background-color: #ffc017; */
    font-family: 'Roboto', sans-serif;
}

.container1 { /*contiene tutta la parte gialla*/
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
}


/*___________________________________________________________NAV BAR___________________________________________________________________*/

.container1a {
    border-bottom: 1px solid #191919;
    background-color: #ffc017;
    width: 100%;
    transition: background-color 0.3s linear;
}

.container1-giallo {
    margin: 0 64px; /*circa 48px*/
}

.riga {
    border: none;
	height: 1px;
	background-color: #333;
	width: 100%;
	margin: auto;
    margin-bottom: 20px;
    opacity: 20%;
}

.main-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-container-flex {
    /* margin-right: 64px;
    margin-left: 64px;
    padding-bottom: 30px; */
    /* background-color: #ffc017; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menuBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    justify-content: flex-start;
}

.elementi-menu{
    display: flex;
    align-items: center;
}


.btn {
    background-color: #191919;
    border: transparent;
    color: white;
    border-radius: 30px;
    padding: 12px;
    text-align: center;
    margin-left: 40px; /*distanza bottone da elenco menu*/
    transition: background-color 0.3s linear;
}

.btn1 span button a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.elementi-menu div{
    padding-left: 40px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.elementi-menu div a {
    text-decoration: none;
    color: #191919;
    font-weight: 500;

}


/*---------------------------------------------------------SCROLL-------------------------------------------------------------*/
.coloreNavbar {
    background-color: white;
    transition: background-color 0.3s linear;
}

.colorBtn {
    background-color: #1a8917;
    color: #333;
    transition: background-color 0.3s linear;
}

.scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-sizing: inherit;
    z-index: 2;
}


/*-----------------------SECONDO CONTAINER--------------*/
/* .container2a { 
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.svg{
    width: 75%;
} */

.container2a{
    position: relative;
    height: 500px;
}

.svg{
    position: absolute;
    z-index: 2;
    right: 0;
}

.container2-giallo{
    position: relative;
    top:0;
    left: 0;
    z-index: 1;
    margin-right: 64px;
    margin-left: 64px;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;

}

.sx  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 90px;
}

/* .sx {
    margin-top: 80px;
} */

.btn2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #191919;
    /* color: white; */
    border: transparent;
    border-radius: 30px;
}

.btn2a {
    margin: 0;
}

.btn2 a {
    color: white;
    text-decoration: none;
}

.subtitle span {
    font-family: 'Roboto', sans-serif;
}


.sx div {
    font-size: 27px;
    margin-bottom: 30px;

}

.bigTitle {
    font-weight: 900;
    font-size: 80px;
    font-family: 'Spectral', serif;
}


/*-----------------------------ARTICLE TRENDING TITLE------------------------*/

.trending {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin: 0 64px;
}

.text-trend {
    position: relative;
    left: 10px;
    font-weight: 600;
}

/*------------------------------ARTICLE TRENDING CARDS---------------------------*/

#container2 {
    border-bottom: 1px solid #191919 50%;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;

}

.sez1 {
    /* margin: 0 64px; */
    /* width: 30%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 350px;
}

.num {
    align-self: flex-start;
    font-size: xx-large;
    font-weight: 900;
    opacity: 35%;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

.name {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 12px;
}

.name img {
    width: 20px;
    border-radius: 50%;
    margin-right: 15px;
}

.title {
    padding-bottom: 10px;
    font-weight: bolder;
}

.date {
    padding-bottom: 15px;
    font-size: 10px;
    font-weight: bold;
    opacity: 50%;
}

.articolo1{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-between;
    margin: 0 64px;
}


/*-----------------------SECONDO CONTAINER-----------------------------*/

.articoli {
    /* margin: 0 64px; */
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;

}
#art{
    width: 100%;
}

.sec { /*mi racchiude tutto articolo con immagine */
    display: flex;
    /* justify-content: space-between; */
    align-items:flex-end;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 100%;
}

.art {
    width: 65%;
    margin-right: 20px;
}

.details {
    display: flex;
    align-items: center;
}

.date1 {
    display: flex;
    align-items: center;
}

.img-name{
    display: flex;
    align-items:flex-end;
    padding-bottom: 20px;
}
.name1 {
    font-weight: 700;
    padding-bottom: 7px;
}

.img-name img {
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.title1 {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
}

.summary {
    opacity: 70%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.details {
    display: flex;
    justify-content: space-between;
}

.span {
    background-color: #dcdcdc;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
    margin-right: 7px;
}

.data-stella {
    display: flex;
    align-items: center;
}




/*------------------------DISCOVER MORE--------------*/
#container3{
    display: flex;
    margin: 0 64px;
}

.discoverMore {
    width: 30%;
}

.titoloDiscover p{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.articoli{
    width: 70%;
}
.titoloDiscover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.boxes{
    /* margin: 0 64px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 10px;
}
.boxes button {
    padding: 5px;
    border-color: transparent;
    background-color: #dcdcdc;
    color: #191919;
    opacity: 50%;
    border-radius: 20px;
}

.help {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.help div {
    opacity: 60%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

    /* margin: 0 64px; */
}

hr {
    height: 1px;
    width: 100%;
    color: #191919;
    opacity: 50%;
}

.svg {
    height: 100%;
    padding-top: 50px;
}


@media screen and (max-width: 900px) {

    .discoverMore{
        width: 100%;
        border-bottom: #191919 50%;
    }
    .articoli{
        width: 100%;
    }
    #container3 {
        flex-direction: column-reverse;
        width: 100%;
    }
    .help, hr {
        display: none;
    }
    .ds-tot{
        border-bottom: #191919;
    }
}




/*--------------ANIMAZIONE M----------------------*/

@keyframes fadeInOut {
    0%{
        opacity: 0;;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

path[id="p"] {
    animation: fadeInOut 10s ease-in-out infinite;
}