div {
    border: 1px solid black;
    width: 300px;
    height: auto;
}



@keyframes animate {
    0%{
        content: 'ciao';
        transform: translate(-100%);
    }
    50%{

    }
    75%{

    }
}